<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>CRUD Operations</title>

    <link href="static/index.css" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-dark bg-mynav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Python Flask CRUD application</a>
      </div>
    </nav>

    <div class="container">
      <div class="d-flex bd-highlight mb-3">
        <div class="me-auto p-2 bd-highlight"><h2>Manage Employees</h2></div>
        <div class="p-2 bd-highlight">
          <a href="/create"><button type="button" class="btn btn-success">Add New Employee</button></a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody id="mytable">
          {%for x in d%}
            <tr>
                <td>{{x.1}}</td>
                <td>{{x.2}}</td>
                <td>{{x.3}}</td>
                <td><a class="edit1" href="edit/ {{x.0}}"><button type="button" class="btn btn-warning">Edit</button></a>
                  <a class="delete1" href="delete/ {{x.0}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
          {%endfor%}
          </tbody>

        </table>
      </div>
    </div>
  </body>
</html>